Checks: "
    performance-*,
    misc-*,
    android-cloexec-*,
    readability-*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -clang-analyzer-security.insecureAPI.*,
    -misc-no-recursion,
"
CheckOptions:
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    bugprone-assert-side-effect.AssertMacros
    value:  'ASSERT'

WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
